[submodule "Book1"]
	path = Book1
	url = https://github.com/Visualize-ML/Book1_Python-For-Beginners.git
[submodule "Book2"]
	path = Book2
	url = https://github.com/Visualize-ML/Book2_Beauty-of-Data-Visualization.git
[submodule "Book3"]
	path = Book3
	url = https://github.com/Visualize-ML/Book3_Elements-of-Mathematics.git
[submodule "Book4"]
	path = Book4
	url = https://github.com/Visualize-ML/Book4_Power-of-Matrix.git
[submodule "Book5"]
	path = Book5
	url = https://github.com/Visualize-ML/Book5_Essentials-of-Probability-and-Statistics.git
[submodule "Book6"]
	path = Book6
	url = https://github.com/Visualize-ML/Book6_First-Course-in-Data-Science.git
[submodule "Book7"]
	path = Book7
	url = https://github.com/Visualize-ML/Book7_Visualizations-for-Machine-Learning.git
[submodule "FRM"]
	path = FRM
	url = https://github.com/Visualize-ML/FRM.git
